/* --- Reset --- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Big Shoulders Display', sans-serif; */
}

/* --- Custom Properties --- */
:root {
  /* --dark: #161515; */
  --dark: #050505;
  --light: #fff;
  /* --prime: #141e30; */
  /* --prime: #afafaf; */
  --prime: #e7e3e3;
  --second: #f7eba6;
}

a {
  text-decoration: none;
  color: var(--light);
  /* color: var(--dark); */
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--prime);
}

/* --- Utility Classes --- */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /* background-color: rgba(230, 230, 230, 0.2); */
  background-color: rgba(0, 0, 0, 0.35);
}

.blur-light {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(230, 230, 230, 0.2);
}

.title {
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 1.5px;

  padding: 1rem 2rem 1rem 0;
  margin: 1rem 0;

  display: inline-block;
  text-transform: uppercase;
  border-top: var(--dark) 2px solid;
}

.title p {
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
}

.scale-down {
  aspect-ratio: 1 / 1.6;
}

.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  position: relative;
  min-height: 90svh;
  display: grid;
}

.btn {
  background-color: var(--light);
  margin: 1rem auto;
  color: var(--prime);
  font-weight: bold;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}

/* --- Navbar --- */
nav {
  z-index: 2;
  color: var(--light);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  font-size: 0.9rem;

  /* border-radius: 10px; */
  /* margin: 0.75rem; */
  padding-inline: 10vw;
}

nav div {
  /* display: flex;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  place-content: center;
  width: 100%;
}

/* --- Logo --- */
.logo {
  grid-column: 1 / 2;
  cursor: pointer;
  color: var(--light);
  border-radius: 10px;
  margin-inline: 1rem;
  padding: 0.2rem 0;
}

.logo img {
  -webkit-filter: invert(1);
  filter: invert(1);
  width: 35px;
}

/* --- Navigation --- */
.menu {
  grid-column: 2 / 3;
  margin-inline: 2rem;
  text-align: right;
  display: flex;
}

.menu li a,
.my-work {
  display: block;
  padding: 0.3rem 0;
  margin-inline: 0.45rem;
  position: relative;
}

.menu li a::before,
.portfolio-menu li a::before,
.my-work::before {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--light);
  /* background-color: var(--dark); */
  position: absolute;
  bottom: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 300ms;
}

.menu li a::before,
.my-work::before {
  transform-origin: left;
}

.portfolio-menu li a::before {
  transform-origin: right;
}

.menu li a:hover::before,
.portfolio-menu li a:hover::before,
.btn-bg:hover .my-work::before {
  transform: scale(1, 1);
}

.menu li a:hover::before,
.btn-bg:hover .my-work::before {
  transform-origin: right;
}

.portfolio-menu li a:hover::before {
  transform-origin: left;
}

/* --- Home Section --- */
.home {
  min-height: 100svh;
  background-color: var(--prime);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;

  position: relative;
}

/* --- Background Image Layer --- */
/* .home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.3);
} */

.bg-layer {
  position: absolute;

  width: 100svw;
  height: 100svh;
  background-color: var(--prime);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* --- Contact Modal --- */
.contact-container {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);

  z-index: 2;

  display: none;
}

.contact {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--light);

  padding: 5rem;
  border-radius: 15px;
  z-index: 3;
}

.contact p {
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 2px;
  margin: 1rem 0;
}

.contact .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
}

/* --- Automatic Fade-In --- */
.auto-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  display: none;
}

.auto-img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.auto-fade {
  animation: fade 1000ms ease-in;
}

header {
  margin: auto;
  text-align: center;
  color: var(--light);
  line-height: 2.5rem;
  padding: 1.5rem;
  border-radius: 15px;
  font-size: 1.2rem;

  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(40, 40, 40, 0.2);
}

header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

header h2 img {
  -webkit-filter: invert(1);
  filter: invert(1);
  margin: 1rem;
}

.h2-mobile {
  display: none;
}

.logo-title {
  max-width: 500px;
  display: grid;
}

.logo-title img {
  width: 100%;
  border-radius: 15px;
  object-fit: scale-down;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.logo-title a {
  color: #dfd583;
  display: block;
  margin: 1.5rem auto;
  padding: 0.5rem;
  border-radius: 10px;
  text-transform: uppercase;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: end;
}

.mobile-header {
  display: none;
}

/* --- Portfolio Section --- */
.portfolio-menu {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.portfolio-menu li a {
  display: block;
  padding: 0.3rem 0;
  margin-inline: 0.45rem;
  position: relative;
}

.portfolio {
  min-height: 100svh;
  /* color: var(--light); */
  color: var(--dark);
}

.portfolio .container {
  display: grid;
  place-content: center;
  grid-template-columns: 15vw auto 15vw;
}

.portfolio section {
  grid-column: 2 / 3;
  padding: 3rem 0;
}

/* -- Gallery Settings -- */
.gallery-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  max-width: 25%;
}

/* - Card - */
.card {
  cursor: pointer;
  margin: 2px;
  flex-grow: 1;

  display: flex;
  /* position: relative; */
}

/* overlap img & content */
/* .card img,
.card-content {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
} */

.pic {
  width: 100%;
  object-fit: cover;
  /* aspect-ratio: 1 / 1; */

  transition: all 500ms ease-in;
}

.card:hover .pic {
  opacity: 0.8;
}

.card:hover .card-content {
  /* transform: translate(-50%, -50%); */
  opacity: 1;
}

/* -- unfinished card hover effect -- */
.card-content {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  opacity: 0;
  transition: all 500ms ease-in;

  width: 100%;
  height: 100%;

  display: none;
}

.card-content h3 {
  margin: auto;
  color: var(--light);
}

.c2 {
  border: red 2px solid;
}

/* --- About Section --- */
.about {
  min-height: 100svh;
  position: relative;
}

.about .container {
  display: grid;
  grid-template-columns: 12vw auto 12vw;
  /* color: var(--light); */
  color: var(--dark);
}

.about-content {
  font-size: 1.15rem;

  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-text {
  display: grid;
  margin: auto;
  padding-inline: 0.5rem;
  max-width: 500px;
}

.about-text p {
  margin: 0.5rem 0;
}

.about-img-card {
  display: grid;
  margin: auto;
}

.about-img {
  width: 100%;
  object-fit: cover;
}

/* -- 'My Work' Button -- */
.btn-wrap {
  display: flex;
  margin: 1rem;
  /* cursor: pointer; */
}

.btn-bg {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: auto;
}

.my-work {
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
}

/* --- Footer --- */
footer {
  /* color: var(--light); */
  color: var(--dark);
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
  margin: auto;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  margin-inline: 0.4rem;
  color: var(--dark);
}

footer i {
  font-size: 2rem;
  color: var(--light);
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

footer i:hover {
  transform: scale(1.1);
}

.social-icons {
  position: fixed;
  margin: 0.5rem auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.social-icons,
.social-icons-mobile {
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.social-icons-mobile {
  margin: auto;
  font-size: 2.2rem;
  margin-bottom: 15svh;
}

/* --- Media Queries --- */
@media(max-width: 1980px) {
  nav {
    padding-inline: 0;
  }
}

@media(max-width: 1200px) {
  .flex-column {
    max-width: 50%;
  }
}

@media(max-width: 800px) {
  .container header {
    font-size: 1.2rem;
  }

  .about .container h2 {
    margin: 3rem auto;
  }

  .about-content {
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
  }
}

@media (max-width: 680px) {
  header h2 {
    font-size: 1.5rem;
  }

  .desktop-adress {
    display: none;
  }

  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: block;
  }

  .container header {
    padding: 0.75rem;
    line-height: 2rem;
    font-size: 1.2rem;
  }

  .gallery-title {
    font-size: 2rem;
  }

  .about-content {
    margin-top: 3.5rem;
    font-size: 1.2rem;
  }
}

@media(max-width:580px) {
  .social-icons {
    display: none;
  }
}

@media (max-width: 480px) {
  .flex-column {
    max-width: 100%;
  }

  header h2 img {
    width: 45px;
  }

  header h2 {
    display: none;
  }

  .h2-mobile {
    display: flex;
    text-align: left;
  }
}

/* --- Keyframe Animations --- */
@keyframes fade {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes moveDown {
  from {
    transform: translate(-50%, -60%);
  }

  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes moveUp {
  from {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(-50%, -60%);
  }
}